<!DOCTYPE html>
<html lang="en">
    <head>
        <script
          src="http://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="center"><h2>Workout Tracker</h2></div>
        <div id="table-container">
            
        </div>
        <main class="form-container">
            <form id="myform">
                <fieldset>
                    <legend>Add Entry</legend>
                  Name:<br>
                  <input type="text" name="name" value="">
                  <br>
                  Reps:<br>
                  <input type="number" name="reps" value="">
                  <br>
                    Weight:<br>
                  <input type="number" name="weight" value="">
                  <br>
                    Date:<br>
                  <input type="date" name="date" value="">
                  <br>
                    Unit:<br>
                  <select name="lbs">
                    <option value="1">Lbs</option>
                    <option value="0">Kgs</option>
                    </select>
                  <br>
                    <input type="submit" value="Save" name="sub">
                </fieldset>
            </form>
        </main>
        <button id="reset"
    </body>
    <script>
        function table(container, data) {
            var table = $("<table/>")
            $.each(data, function(rowIndex, value){
                var $tr = $('<tr>').append(
                $('<td>').text(data.id),
                $('<td>').text(data.name),
                $('<td>').text(data.reps),
                $('<td>').text(data.weight),
                $('<td>').text(data.date),
                $('<td>').text(data.lbs),
            });
            return container.append(table);
        }
                   
        function getId(e) {
                return $(e.target).parent('tr').data('id');
        }
        
        function renderTable(data, textStatus, jqXHR) {
           var json = JSON.parse(data.results);
           $('.tableContainer').html('');

           if (json.length > 0) {
              var body = document.body;
              var table = document.createElement('table');
              var tableBody = document.createElement('tbody');

              table.style.width = '100%';
              table.setAttribute('border', '1');
              var tr = document.createElement('tr');
              for (var key in json[0]) {
                 if (key !== 'id') {
                    var th = document.createElement('th');
                    th.appendChild(document.createTextNode(key));
                    tr.appendChild(th);
                 }
              }
              var th = document.createElement('th');
              tr.appendChild(th);
              tr.appendChild(th);
              tableBody.appendChild(tr);
              for (var i = 0; i < json.length; i++) {
                 tr = document.createElement('tr');
                 for (var k in json[i]) {
                    if (k !== 'id') {
                       var td = document.createElement('td');
                       var label = json[i][k];
                       td.appendChild(document.createTextNode(label));
                       tr.appendChild(td);
                    } else {
                       tr.setAttribute('data-id', json[i][k]);
                    }
                 }
                 var edit = document.createElement('button');
                 edit.className = 'btn btn-default edit';
                 edit.appendChild(document.createTextNode('edit'));
                 var del = document.createElement('button');
                 del.className = 'btn btn-danger delete';
                 del.appendChild(document.createTextNode('delete'));
                 tr.appendChild(edit);
                 tableBody.appendChild(tr);
                 tr.appendChild(del);
                 tableBody.appendChild(tr); 
              }
              table.appendChild(tableBody);
              var div = document.getElementsByClassName('tableContainer')[0];
              div.appendChild(table);
           } else {
              $('.tableContainer').html('No records to show');
           }
           addListeners();
        }
        function load_data(){
            $.ajax({
                type: "GET",
                url: '/load',
                dataType: "json"
                success: function(data)
                {
                    console.log(data);
                    table($('#table-container'), data);
                }
            });
        }
        $("#myform").submit(function(e) {
            e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                    console.log(form.serialize());
                $.ajax({
                       type: "POST",
                       url: '/insert',
                       data: form.serialize(),
                       success: function(data)
                       {
                           alert
                           load_data();
                       }
                     });
            });
            load_data();
    </script>
</html>