<!DOCTYPE html>
<html lang="en">
    <head>
        <script
          src="http://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="center"><h2>Workout Tracker</h2></div>
        <div id="table-container">
            
        </div>
        <main class="form-container">
            <form id="myform">
                <fieldset>
                    <legend>Add Entry</legend>
                  Name:<br>
                  <input type="text" name="name" value="">
                  <br>
                  Reps:<br>
                  <input type="number" name="reps" value="">
                  <br>
                    Weight:<br>
                  <input type="number" name="weight" value="">
                  <br>
                    Date:<br>
                  <input type="date" name="date" value="">
                  <br>
                    Unit:<br>
                  <select name="lbs">
                    <option value="1">Lbs</option>
                    <option value="0">Kgs</option>
                </select>
                  <br>
                    <input type="submit" value="Save" name="sub">
                </fieldset>
            </form>
        </main>
        <div name="edit-container"></div>
        <a href="/reset-table"><button id="reset">Reset</button></a>
    </body>
    <script>
        function getId(e) {
           return $(e.target).parent('tr').data('id');
        }
        function editform(e, id) {
            
        }
        
        function events(length){
            $('#delete' + length).click(function(e){
                alert("delet pressed");
                var id = get_id(e);
                $ajax({
                    url: '/deleter?id='+id,
                    method: 'GET',
                    success: function(data)
                {
                    load_data();    
                }
                })
            })
            $('#edit' + length).click(function(e) {
              var id = getId(e);
              editform(e, id);
           });
        }
        function table(container, data) {
            var delb = $("<button>Delete</button>");
            var editb = $("<button>Edit</button>");
            var units = "";
            var table = $("<table/>")
            var $tr = $('<tr>').append(
                $('<td>').text("Name"),
                $('<td>').text("reps"),
                $('<td>').text("weight"),
                $('<td>').text("units"),
                $('<td>').text("date"),
                
            )
            table.append($tr);
            $.each(data, function(rowIndex, value){
                var delb = $("<button>Delete</button>");
                var editb = $("<button>Edit</button>");
                if(value.lbs == 0){
                    units = "lbs";
                }
                else{
                    units ="kgs";
                }
                var $tr = $('<tr>').append(
                $('<td>').text(value.name),
                $('<td>').text(value.reps),
                $('<td>').text(value.weight),
                $('<td>').text(units),
                $('<td>').text(value.date),
                $('<td>').attr('name', "edit" + value.id).append(editb),
                $('<td>').attr('name', "delete" + value.id).append(delb),
                events(value.id);
            )
            table.append($tr);
            return container.html(table);
            });
        }
                   
        function load_data(){
            $.ajax({
                type: "GET",
                url: '/load',
                dataType: "json",
                success: function(data)
                {
                    console.log(data);
                    table($('#table-container'), data);
                }
            });
        }
        $("#myform").submit(function(e) {
            e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                    console.log(form.serialize());
                $.ajax({
                       type: "POST",
                       url: '/insert',
                       data: form.serialize(),
                       success: function(data)
                       {
                           alert("data sent");
                           load_data();
                       }
                });
        });
        load_data();
    </script>
</html>