<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta name="author" content="Spencer Carlson">
        <title>Workout Tracker</title>
        <script
          src="http://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="center"><h2>Workout Tracker</h2></div>
        <div id="table-container">
            
        </div>
        <main class="form-container">
            <form id="myform">
                <fieldset>
                    <legend>Add Entry</legend>
                  Name:<br>
                  <input type="text" name="name" value="">
                  <br>
                  Reps:<br>
                  <input type="number" name="reps" value="">
                  <br>
                    Weight:<br>
                  <input type="number" name="weight" value="">
                  <br>
                    Date:<br>
                  <input type="date" name="date" value="">
                  <br>
                    Unit:<br>
                  <select name="lbs">
                    <option value="1">Lbs</option>
                    <option value="0">Kgs</option>
                    </select>
                  <br>
                    <input type="submit" value="Save" name="sub_butt">
                </fieldset>
            </form>
        </main>
        <button id="reset"
    </body>
    <script>
        function load_data(){
            $.ajax({
                type: "GET",
                url: '/load',
                success: function(data)
                {
                    console.log(data);
                    table($('#table-container'), data);
                }
            });
        }
        function table(container, data) {
            var table = $("<table/>")
            $.each(data, function(rowIndex, value){
                var $tr = $('<tr>').append(
                $('<td>').text(data.id),
                $('<td>').text(data.name),
                $('<td>').text(data.reps),
                $('<td>').text(data.weight),
                $('<td>').text(data.date),
                $('<td>').text(data.lbs),
            });
            return container.append(table);
        }
        load_data();
        $("#myform").submit(function(e) {
            e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                    console.log(form.serialize());
                $.ajax({
                       type: "POST",
                       url: '/insert',
                       data: form.serialize(),
                        dataType: "json",
                       success: function(data)
                       {
                           load_data();
                       }
                     });
            });
    </script>
</html>